.exp {
  .exp-list {

    .exp-item {
      margin-bottom: 3rem;

      &:first-child {
        margin-top: 3rem;
      }

      .exp-time {
        max-width: 4rem;
      }

      .exp-logo {
        max-height: 4rem;
      }

      .exp-title {
        color: #555;
        font-family: 'Titillium Web', sans-serif;

        &.exp-title-current {
          font-size: 1.5rem;
        }
      }

      .exp-subtitle {
        font-weight: 300;
      }

      .exp-body {
        margin-top: 1rem;

        .exp-badge {
          font-weight: 300;
        }
      }
    }
  }

  .exp-logo {
    max-height: 6rem;
  }


}
