@icon-font-path: "../node_modules/open-iconic/font/fonts/";
@activeBgColor: #25A0F0;
@textColor: #fff;
@textInvertColor: #333;
@textInactiveColor: #888;

@import "../node_modules/open-iconic/font/css/open-iconic-bootstrap";

@import "components/Panel/Panel";
@import "components/Menu/Menu";
@import "components/Tabs/Tabs";
@import "components/NamePlate/NamePlate";

@font-face {
  font-family: SAO;
  src: url("fonts/SAO.otf") format("opentype");
}

body {
  background-color: #222;
  font-family: SAO, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 5rem 1rem;
}
